#scene{
    -fx-background-color: #333333;
}
.resultDisplay{
    -fx-font-weight: bold;
}
.correct-guess{
    -fx-text-fill: #00e600;
}
Button{
    -fx-text-fill: #cccccc;
    -fx-background-color: #262626;
    -fx-border-style: none;
    -fx-border-radius: 5px;
}
Button:hover{
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #00e600;
    -fx-transition: 0.5s;
}